.resultWrapper {
    margin-top: 5rem;
}

.resultWrapper h2 {
    font-size: 2rem;
    text-align: center;
}

.result {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
}

.result img {
    width: 100%;
}

.result p {
    margin: 0 0 1rem;
    font-size: 1.6rem;
}

.result span {
    font-weight: 700;
}